@media (max-width: 1200px) {
  .mailingListInner {
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
  .title2 {
    padding-top: 0px !important;
    text-align: center !important;
  }
  .title {
    padding-top: 0px !important;
  }
  .formParagraph {
    text-align: center !important;
    flex-basis: 780px !important;
  }
}

@media (max-width: 1100px) {
  .bottomMain {
    margin-top: 50px !important;
    gap: 40px !important;
  }
  .secondPartText {
    margin-top: 0px !important;
  }
  .prioritiseItem {
    padding-top: 33px !important ;
  }
}

@media (max-width: 1000px) {
  .userItemsSearch {
    margin-left: 30px !important;
  }
  .menuList {
    margin-left: 60px !important;
  }
  .menu {
    margin-right: auto !important;
  }
  .logo {
    margin-bottom: 0px !important;
  }
  .headerInner {
    min-height: auto !important;
  }
  .blockquoteText {
    margin-top: 120px !important;
    margin-bottom: 135px !important;
  }
  .typeSection {
    margin-bottom: 120px !important;
  }
  .typeList {
    gap: 0 !important;
  }
  .typeInner h2 {
    margin: 30px auto !important;
  }
  .reviewsItemHide {
    display: none !important;
  }
  .mainBlog {
    padding: 60px 0 !important;
  }
  .mainBlogItem {
    flex-basis: 460px !important;
  }
  .mainBlogItem img {
    max-width: 220px !important;
  }
  .mainBlogList {
    gap: 67px 20px !important;
  }
  .prioritiseList {
    gap: 30px 210px !important;
  }

  /* footer Part */

  .secondPart li {
    font-size: 14px !important;
  }
}

@media (max-width: 960px) {
  .prioritiseList {
    gap: 30px 113px !important;
  }
}

@media (max-width: 918px) {
  .footerInner2 {
    margin-left: auto;
    position: relative !important;
    bottom: 145px !important;
  }
  .secondPart li {
    font-size: 16px !important;
  }
  .contactDetails {
    gap: 10px !important;
  }
}

@media (max-width: 860px) {
  .menuList.menuListOpen {
    transform: translateY(0%);
  }
  .menuList {
    transform: translateY(-100%);
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 480px !important;
    background-color: white !important;
    display: block !important;
    text-align: center !important;
    padding-top: 60px !important;
    margin: 0 auto !important;
  }
  .mobile-nav {
    display: block !important;
  }
  .menuClose {
    display: block !important;
  }
  .menuItem {
    margin-bottom: 30px;
    font-size: 24px !important;
  }
  .menuItem a {
    font-family: "Cormorant", serif !important;
  }
  .menuCloseBtn {
    position: absolute !important;
    top: 20px !important;
    font-size: 25px !important;
    right: 20px !important;
  }
  .barsA {
    display: block !important;
  }
  .menu {
    order: -1 !important;
    margin-right: 0 !important;
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .headerInner {
    padding-left: 64px !important;
    padding-right: 64px !important;
  }
  .blockquoteText {
    max-width: 640px !important;
  }
  .typeList {
    justify-content: center !important;
    flex-wrap: wrap !important;
  }
  .reviewsItemHide {
    display: block !important;
  }
  .reviewsList {
    flex-wrap: wrap !important;
    gap: 30px 76px !important;
  }
  .reviewsItem {
    flex-basis: calc(44% - 10px) !important;
  }
  .mainBlogItem {
    flex-basis: 542px !important;
  }
  .mainBlogItem img {
    max-width: 270px !important;
  }
  .mainBlogList {
    gap: 30px 20px;
  }
  .mainBlogItem:nth-child(even) {
    margin-left: 98px !important;
  }
  .formParagraph {
    flex-basis: 640px !important;
  }
  .mainFooter {
    padding: 60px 0px !important;
  }
}

@media (max-width: 680px) {
  .container {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .headerInner {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .topTitle {
    font-size: 40px !important;
  }
  .blockquoteText {
    font-size: 16px !important;
    max-width: 376px !important;
    margin-top: 60px !important;
    margin-bottom: 60px !important;
  }
  .mainBlogItem:nth-child(even) {
    margin-left: 0px !important;
  }
  .mainNavigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: start !important;
    gap: 0px 200px !important;
  }
  .secondPartText {
    max-width: 100% !important;
    margin-top: 30px  !important;
  }
  .bottomMain {
    text-align: center !important;
    justify-content: center !important;
  }
  .footerInner2 {
    bottom: 0 !important;
    margin: 0 auto !important;
  }
  .socialIcons {
    justify-content: center !important;
    margin-right: 153px !important;
    margin-left: auto !important;
    text-align: center !important;
  }
  .dashedTitle2 {
    text-align: center !important;
  }
  .socialIcons {
    margin: 0 auto !important;
    padding-top: 30px;
  }
  .footerParagraph {
    text-align: center !important;
    margin-top: 30px !important;
  }
  .contactBox {
    margin: 0 auto !important;
    flex-direction: column !important;
    gap: 30px !important;
  }
  .logo {
    margin-top: 30px !important;
  }
  .secondPartText2 {
    max-width: 402px !important;
    text-align: center !important;
  }
  .logo2 {
    margin-top: 30px !important;
  }
}

@media (max-width: 620px) {
  .reviewsList {
    gap: 30px 25px !important;
  }
  .emailInp {
    width: 68% !important;
  }
  .mailingForm {
    flex-basis: 100% !important;
  }
}

@media (max-width: 517px) {
  .emailInp {
    width: 68% !important;
  }
  .mailingForm {
    flex-basis: 100% !important;
  }
}

@media (max-width: 480px) {
  .logo {
    margin-right: 80px !important;
  }
  .logo img {
    width: 40px !important;
  }
  .menuList {
    width: 360px !important;
  }
  .reviewsList {
    gap: 30px 20px !important;
  }
  .reviewsItem {
    flex-basis: calc(50% - 10px) !important;
  }
  .title {
    padding-top: 0px !important;
  }
  .reviews {
    padding: 50px 0 !important;
  }
  .mainBlogItem img {
    max-width: 230px !important;
  }

  .mainContent h3 {
    font-size: 19px !important;
  }
  .formParagraph {
    font-size: 13px !important;
    flex-basis: 480px !important;
    line-height: 17.7px !important;
  }
  .emailInp {
    width: 60% !important;
  }
  .subBtn {
    margin-left: 20px !important;
  }
  .prioritiseList {
    gap: 50px 0px !important;
  }
}

@media (max-width: 460px) {
  .mainNavigation {
    gap: 0px 140px !important;
  }
}

@media (max-width: 400px) {
  .mainBlogItem:nth-child(even) {
    display: none !important;
  }
  .mainBlogList {
    justify-content: center !important;
  }
  .mainBlogItem {
    display: block !important;
    max-width: 270px !important;
  }
  .mainBlogItem img {
    max-width: 100% !important;
  }
  .mainBlogItem {
    justify-content: center !important;
  }
  .mainContent h3 {
    font-size: 24px !important;
  }
  .emailInp {
    width: 55% !important;
  }
}

@media (max-width: 390px) {
  .mainNavigation {
    gap: 0px 92px !important;
  }
}

@media (max-width: 360px) {
  .logo {
    margin-right: 50px !important;
  }
  .userItemsSearch {
    margin-left: 0 !important;
  }
  .headerInner {
    padding: 10px 0;
  }
  .topTitle {
    font-size: 24px !important;
    margin-bottom: 10px !important;
  }
  .topText {
    font-size: 13px !important;
    margin-bottom: 30px !important;
  }
  .topInner {
    min-height: 367px !important;
  }
  .blockquoteText {
    max-width: 340px !important;
    margin-top: 70px !important;
    margin-bottom: 80px !important;
  }
  .typeItem img {
    max-width: 150px !important;
  }
  .typeInner h2 {
    font-size: 24px !important;
  }
  .title {
    font-size: 24px !important;
  }
  .reviewsItemHide2 {
    display: none;
  }
  .reviewsList {
    flex-direction: column !important;
  }
  .reviews {
    padding: 50px 0 !important;
  }
  .title {
    padding-top: 0 !important;
  }
  .title2 {
    font-size: 24px !important;
  }
  .emailInp {
    width: 50% !important;
  }
  .prioritiseMain {
    padding: 50px !important;
  }
  .prioritesTitle {
    font-size: 20px !important;
  }
  .prioritiseText {
    font-size: 10px !important;
    font-weight: 400 !important;
  }
  .prioritiseList {
    gap: 40px !important;
  }
}
