@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap");
*,
*::before *::before {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.mobile-nav,
.menuClose {
  display: none;
}
.headerInner {
  display: flex;
  min-height: 140px;
  margin-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin-bottom: 35px;
}
.menuList {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  gap: 0 65px;
  margin-left: 85px;
  transition: 0.3s;
}
.mobile-menu {
  margin-top: 60px;
  padding-top: 60px;
  margin: 60px 30px;
  border-top: 2px solid #f7f2ea;
  font-family: "Cormorant", serif !important;
}
.menu {
  order: 0;
  margin-right: 0;
}
.mobileMenuItem {
  margin-bottom: 35px;
}
.mobileUl {
  display: flex;
  justify-content: space-between;
  background-color: #f7f2ea;
  height: 60px;
  align-items: center;
  padding: 0 80px;
}
.ulLogos {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.userItemsSearch {
  margin-left: 80px;
}
.menuItem a {
  font-weight: 400;
  font-family: "Open Sans", serif;
  font-size: 18px;
}

.menu-Close {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu-Close.menuOpen {
  display: block;
}

/* main */

/* main top start */
.top {
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.topInner {
  height: 500px;
  font-family: "Cormorant", serif;
  color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;
  justify-content: flex-end;
}
.topTitle {
  font-weight: 400;
  font-size: 60px;
  line-height: 1;
  max-width: 780px;
}

.topText {
  font-weight: 400;
  font-size: 24px;
  line-height: normal;
  max-width: 560px;
  padding-top: 20px;
}

/* main top end */

.blockquoteText {
  text-align: center;
  font-family: "Cormorant", serif;
  font-size: 40px;
  font-style: italic;
  max-width: 704px;
  line-height: normal;
  color: #151618;
  margin: 150px auto;
}
.barsA {
  display: none;
  position: relative;
  font-size: 25px;
  z-index: 2;
}
.menuCloseBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* type of Teas */

.typeInner h2 {
  font-size: 40px;
  line-height: normal;
  font-weight: lighter;
  font-style: italic;
  max-width: 704px;
  margin: 60px auto;
  font-family: "Cormorant", serif;
  text-align: center;
  color: #151618;
}
.typeSection {
  margin-top: 150px;
}
.typeList {
  display: flex;
  gap: 0 40px;
  align-items: center;
  justify-content: space-between;
}
.typeItem img {
  max-height: 208px;
  max-width: 208px;
  width: 100%;
}

/* type of Teas  end*/

/* reviews */
.reviews {
  background-color: #f7f2ea;
  padding: 60px 0;
  margin-top: 150px;
  font-family: "Open Sans", serif;
}
.reviewsList {
  display: flex;
  justify-content: center;
  gap: 0 26px;
  padding-top: 60px;
}
.reviewsItem {
  flex-basis: 280px;
}
.reviewsText {
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 21.79px;
  color: #151618;
}
.title {
  font-family: "Cormorant", serif;
  font-size: 40px;
  line-height: 48.44px;
  text-align: center;
  padding-top: 60px;
  font-weight: lighter;
}
.reviewsName {
  font-size: 20px;
  color: #151618;
  line-height: 27.24px;
  font-weight: 600;
  padding-top: 10px;
}

/* reviews  end*/

/* main Blog */

.mainBlog {
  padding: 150px 0;
}
.mainBlogList {
  display: flex;
  gap: 40px 58px;
  flex-wrap: wrap;
  margin-top: 60px;
}
.mainBlogItem {
  flex-basis: 542px;
  gap: 0 20px;
  display: flex;
}
.mainContent h3 {
  font-size: 24px;
  font-family: "Cormorant", serif;
  color: #151618;
  line-height: 29px;
  min-height: 86px;
  font-weight: 400;
}
.mainBlogItemAuthor {
  color: #151618;
  line-height: 17px;
  font-size: 13px;
  font-weight: 300;
  font-family: "Open Sans", serif;
  margin-top: 10px;
}
.mainBlogItemLink {
  font-weight: 300;
  font-size: 13px;
  font-family: "Open Sans", serif;
  line-height: 17px;
  color: #151618;
  margin-top: auto;
}
.mainContent {
  flex-direction: column;
  display: flex;
}
.viewBtn {
  display: flex;
  justify-content: center;
  margin: 72px auto 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  font-family: "Open Sans", serif;
  color: #151618;
  border: 1px solid #151618;
  padding: 12px 41px;
  width: 100px;
}

/* Mail Section */

.title2 {
  font-family: "Cormorant", serif;
  font-size: 40px;
  line-height: 48.44px;
  text-align: start;
  padding-top: 60px;
  font-weight: lighter;
  margin-bottom: 50px;
}
.mailingList {
  padding: 60px 0;
  background-color: #f7f2ea;
  background-image: url(../img/tea1.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.mailingListInner {
  display: flex;
  align-items: center;
  text-align: start;
  font-family: "Open Sans", serif;
  gap: 60px 40px;
  /* justify-content: center;  */
}
.formParagraph {
  font-weight: 300;
  line-height: 30px;
  font-size: 20px;
}
.emailInp {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #b8b58b;
  font-size: 20px;
  font-weight: 300;
  padding-left: 20px;
  width: 400px;
  outline: none;
}
.emailInp::placeholder {
  line-height: 150%;
}
.subBtn {
  background-color: white;
  border: 1px solid #151618;
  padding: 12px 41px;
  cursor: pointer;
  margin-left: 25px;
}
.mailingForm {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 580px;
}
.formParagraph2 {
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
  margin-left: 20px;
}
.formParagraph {
  flex-basis: 580px;
}
.mailingListLabel {
  margin-top: 16px;
}
.checkbox {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}
